<!DOCTYPE html>
<html>
  <head>
    <title>Bookers2</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
    <nav class="navbar navbar-fixed-top navbar-expand-sm text-light bg-dark pt-3 pb-3 mb-3">
      <div class="container">
        <nav class="nav navbar-nav navbar-left">
        <span>Bookers</span>
        </nav>
        <nav class="nav navbar-nav navbar-right">
          <ul class="navbar-nav">
            <% if user_signed_in? %>
            <li class="nav-item activ">
              <%= link_to user_path(current_user.id) do %>
                <%= icon('fas','home') %><span class="ml-2">Home</span>
              <% end %>
            </li>
            <li class="nav-item ml-4">
              <%= link_to users_path do %>
                <%= icon('fas','user') %><span class="ml-2">Users</span>
              <% end %>
            </li>
            <li class="nav-item ml-4">
              <%= link_to books_path do %>
                <%= icon('fas','book') %><span class="ml-2">Books</span>
              <% end %>
            </li>
            <li class="nav-item ml-4">
              <%= link_to destroy_user_session_path, method: :delete do %>
                <%= icon('fas','sign-out-alt') %><span class="ml-2">logout</span>
              <% end %>
            </li>
            <% else %>
            <li class="nav-item activ">
              <%= link_to "/books/top" do %>
                <%= icon('fas','home') %><span class="ml-2">Home</span>
              <% end %>
            </li>
            <li class="nav-item ml-4">
              <%= link_to about_books_path do %>
                <%= icon('fas','paperclip') %><span class="ml-2">About</span>
              <% end %>
            </li>
            <li class="nav-item ml-4">
              <%= link_to new_user_registration_path do %>
                <%= icon('fas','edit') %><span class="ml-2">sign up</span>
              <% end %>
            </li>
            <li class="nav-item ml-4">
              <%= link_to new_user_session_path do %>
                <%= icon('fas','sign-in-alt') %><span class="ml-2">login</span>
              <% end %>
            </li>
            <% end %>
          </ul>
        </nav>
      </div>
    </nav>
    </header>
    <%= yield %>
  </body>
</html>